$first-text-color: rgba(12, 11, 16, 1);
$secondary-text-color: rgb(255, 255, 255);
$after-title--color-light: #79655E;
$after-title--color-dark: #000000;

$reviews-text-color: rgba(29, 26, 26, 1);

$bg_project: #E2D3CE;
$bg-gradient-hero: linear-gradient(rgb(196, 196, 196), rgb(196, 196, 196));