@import '~normalize.css';
@import './styles/fonts.css';
@import "./styles/utils/vars";
@import "./styles/layouts/header";
@import "./styles/layouts/hero";

$color: #c3deffd0;

html {
    min-height: 100vh;
}

body {
    padding-top: var(--header-height);
    min-height: 100vh;
    transition: all .5s;
    font-size: responsive;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
}

[class*="__container"] {
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 83.125rem;
}