@import '~normalize.css';
@import './styles/fonts.css';
@import "./styles/utils/vars";

$color: #c3deffd0;

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    transition: all .5s;
    font-size: responsive;
    font-family: 'Manrope', sans-serif;
}

.hero {
    position: relative;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100vw;
    min-height: 100vh;

    background-image: url('./assets/images/hero/sky@2x-desktop.png'), $bg-gradient-hero;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__lake {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    margin: 0 auto;
    width: 100vw;
    object-fit: cover;
    object-position: center;
}

[class*="__container"] {
    margin: 0 auto;
    padding-left: .9375rem;
    padding-right: .9375rem;
    max-width: 83.125rem;
}

.hero__pre-title {
    margin: 0 auto;
    max-width: 140px;
    font-family: 'Forum';
    font-weight: 400;
    font-size: 25px;
    line-height: 98.5%;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #0C0B10;
}

.section__logo {
    margin: 0 auto;
    height: 22.5rem;
    width: 22.5rem;
}